* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

a {
  font-family: 'helvetica';
  text-decoration: none;
}

p {
  font-family: 'helvetica';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'helvetica';
  font-weight: 500;
}

textarea:focus,
input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: black;
}
